.container {
	width: 100%;
}
@media (min-width: 640px) {
	.container {
		max-width: 640px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}
@media (min-width: 1024px) {
	.container {
		max-width: 1024px;
	}
}
@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}
}
@media (min-width: 1536px) {
	.container {
		max-width: 1536px;
	}
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
.fixed {
	position: fixed;
}
.absolute {
	position: absolute;
}
.relative {
	position: relative;
}
.inset-0 {
	inset: 0px;
}
.left-2 {
	left: 0.5rem;
}
.left-\[50\%\] {
	left: 50%;
}
.right-4 {
	right: 1rem;
}
.top-4 {
	top: 1rem;
}
.top-\[50\%\] {
	top: 50%;
}
.z-50 {
	z-index: 50;
}
.-mx-1 {
	margin-left: -0.25rem;
	margin-right: -0.25rem;
}
.mx-5 {
	margin-left: 1.25rem;
	margin-right: 1.25rem;
}
.my-1 {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}
.ml-auto {
	margin-left: auto;
}
.mr-2 {
	margin-right: 0.5rem;
}
.mt-10 {
	margin-top: 2.5rem;
}
.block {
	display: block;
}
.flex {
	display: flex;
}
.inline-flex {
	display: inline-flex;
}
.grid {
	display: grid;
}
.hidden {
	display: none;
}
.h-10 {
	height: 2.5rem;
}
.h-11 {
	height: 2.75rem;
}
.h-3 {
	height: 0.75rem;
}
.h-3\.5 {
	height: 0.875rem;
}
.h-3\/4 {
	height: 75%;
}
.h-4 {
	height: 1rem;
}
.h-\[var\(--radix-select-trigger-height\)\] {
	height: var(--radix-select-trigger-height);
}
.h-full {
	height: 100%;
}
.h-px {
	height: 1px;
}
.max-h-\[300px\] {
	max-height: 300px;
}
.w-3 {
	width: 0.75rem;
}
.w-3\.5 {
	width: 0.875rem;
}
.w-4 {
	width: 1rem;
}
.w-48 {
	width: 12rem;
}
.w-72 {
	width: 18rem;
}
.w-\[180px\] {
	width: 180px;
}
.w-full {
	width: 100%;
}
.min-w-\[8rem\] {
	min-width: 8rem;
}
.min-w-\[var\(--radix-select-trigger-width\)\] {
	min-width: var(--radix-select-trigger-width);
}
.max-w-lg {
	max-width: 32rem;
}
.shrink-0 {
	flex-shrink: 0;
}
.translate-x-\[-50\%\] {
	--tw-translate-x: -50%;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-y-\[-50\%\] {
	--tw-translate-y: -50%;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transform {
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-default {
	cursor: default;
}
.cursor-pointer {
	cursor: pointer;
}
.select-none {
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
}
.scroll-m-20 {
	scroll-margin: 5rem;
}
.grid-cols-5 {
	grid-template-columns: repeat(5, minmax(0, 1fr));
}
.flex-row {
	flex-direction: row;
}
.flex-col {
	flex-direction: column;
}
.flex-col-reverse {
	flex-direction: column-reverse;
}
.flex-wrap {
	flex-wrap: wrap;
}
.items-center {
	align-items: center;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.gap-2 {
	gap: 0.5rem;
}
.gap-4 {
	gap: 1rem;
}
.space-y-1 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}
.space-y-1\.5 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(0.375rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0.375rem * var(--tw-space-y-reverse));
}
.overflow-hidden {
	overflow: hidden;
}
.overflow-y-auto {
	overflow-y: auto;
}
.overflow-x-hidden {
	overflow-x: hidden;
}
.rounded-full {
	border-radius: 9999px;
}
.rounded-md {
	border-radius: 0.375rem;
}
.rounded-sm {
	border-radius: 0.125rem;
}
.border {
	border-width: 1px;
}
.border-b {
	border-bottom-width: 1px;
}
.border-transparent {
	border-color: transparent;
}
.border-zinc-500 {
	--tw-border-opacity: 1;
	border-color: rgb(113 113 122 / var(--tw-border-opacity));
}
.bg-green-100 {
	--tw-bg-opacity: 1;
	background-color: rgb(220 252 231 / var(--tw-bg-opacity));
}
.bg-transparent {
	background-color: transparent;
}
.bg-zinc-800 {
	--tw-bg-opacity: 1;
	background-color: rgb(39 39 42 / var(--tw-bg-opacity));
}
.p-0 {
	padding: 0px;
}
.p-1 {
	padding: 0.25rem;
}
.p-4 {
	padding: 1rem;
}
.p-6 {
	padding: 1.5rem;
}
.px-2 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.px-2\.5 {
	padding-left: 0.625rem;
	padding-right: 0.625rem;
}
.px-3 {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}
.py-0 {
	padding-top: 0px;
	padding-bottom: 0px;
}
.py-0\.5 {
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
}
.py-1 {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}
.py-1\.5 {
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
}
.py-2 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.py-3 {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}
.py-6 {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.pb-2 {
	padding-bottom: 0.5rem;
}
.pl-8 {
	padding-left: 2rem;
}
.pr-2 {
	padding-right: 0.5rem;
}
.text-center {
	text-align: center;
}
.text-3xl {
	font-size: 1.875rem;
	line-height: 2.25rem;
}
.text-lg {
	font-size: 1.125rem;
	line-height: 1.75rem;
}
.text-sm {
	font-size: 0.875rem;
	line-height: 1.25rem;
}
.text-xs {
	font-size: 0.75rem;
	line-height: 1rem;
}
.font-semibold {
	font-weight: 600;
}
.leading-7 {
	line-height: 1.75rem;
}
.leading-none {
	line-height: 1;
}
.tracking-tight {
	letter-spacing: -0.025em;
}
.tracking-widest {
	letter-spacing: 0.1em;
}
.text-green-500 {
	--tw-text-opacity: 1;
	color: rgb(34 197 94 / var(--tw-text-opacity));
}
.text-red-500 {
	--tw-text-opacity: 1;
	color: rgb(239 68 68 / var(--tw-text-opacity));
}
.text-zinc-50 {
	--tw-text-opacity: 1;
	color: rgb(250 250 250 / var(--tw-text-opacity));
}
.opacity-50 {
	opacity: 0.5;
}
.opacity-70 {
	opacity: 0.7;
}
.shadow-lg {
	--tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	--tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-md {
	--tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	--tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.outline-none {
	outline: 2px solid transparent;
	outline-offset: 2px;
}
.outline {
	outline-style: solid;
}
.filter {
	filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.backdrop-blur-sm {
	--tw-backdrop-blur: blur(4px);
	-webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
	        backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}
.transition {
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
.transition-colors {
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
.transition-opacity {
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
.duration-200 {
	transition-duration: 200ms;
}
.ease-in-out {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/
/*@layer base {*/
/*	:root {*/
/*		--background: 0 0% 100%;*/
/*		--foreground: 222.2 47.4% 11.2%;*/
/*		--muted: 210 40% 96.1%;*/
/*		--muted-foreground: 215.4 16.3% 46.9%;*/
/*		--popover: 0 0% 100%;*/
/*		--popover-foreground: 222.2 47.4% 11.2%;*/
/*		--border: 214.3 31.8% 91.4%;*/
/*		--input: 214.3 31.8% 91.4%;*/
/*		--card: 0 0% 100%;*/
/*		--card-foreground: 222.2 47.4% 11.2%;*/
/*		--primary: 222.2 47.4% 11.2%;*/
/*		--primary-foreground: 210 40% 98%;*/
/*		--secondary: 210 40% 96.1%;*/
/*		--secondary-foreground: 222.2 47.4% 11.2%;*/
/*		--accent: 210 40% 96.1%;*/
/*		--accent-foreground: 222.2 47.4% 11.2%;*/
/*		--destructive: 0 100% 50%;*/
/*		--destructive-foreground: 210 40% 98%;*/
/*		--ring: 215 20.2% 65.1%;*/
/*		--radius: 0.5rem;*/
/*	}*/
/*	.dark {*/
/*		--background: 224 71% 4%;*/
/*		--foreground: 213 31% 91%;*/
/*		--muted: 223 47% 11%;*/
/*		--muted-foreground: 215.4 16.3% 56.9%;*/
/*		--accent: 216 34% 17%;*/
/*		--accent-foreground: 210 40% 98%;*/
/*		--popover: 224 71% 4%;*/
/*		--popover-foreground: 215 20.2% 65.1%;*/
/*		--border: 216 34% 17%;*/
/*		--input: 216 34% 17%;*/
/*		--card: 224 71% 4%;*/
/*		--card-foreground: 213 31% 91%;*/
/*		--primary: 210 40% 98%;*/
/*		--primary-foreground: 222.2 47.4% 1.2%;*/
/*		--secondary: 222.2 47.4% 11.2%;*/
/*		--secondary-foreground: 210 40% 98%;*/
/*		--destructive: 0 63% 31%;*/
/*		--destructive-foreground: 210 40% 98%;*/
/*		--ring: 216 34% 17%;*/
/*		--radius: 0.5rem;*/
/*	}*/
/*}*/
/*@layer base {*/
/*	* {*/
/*		@apply border-border;*/
/*	}*/
/*	body {*/
/*		@apply bg-background text-foreground;*/
/*		font-feature-settings: "rlig" 1, "calt" 1;*/
/*	}*/
/*}*/
.gallery-info-container {
	border: 1px solid var(--background-modifier-border);
	font-size: 14px;
	color: var(--text-muted);
	padding: 6px 14px;
	border-radius: 4px;
	background-color: var(--background-primary-alt);
	position: inherit;
	margin-bottom: 30px;
}
.art-picture-frame {
	background-color:#ddc;
	border:solid 3vmin #eee;
	border-bottom-color:#fff;
	border-left-color:#eee;
	border-radius:2px;
	border-right-color:#eee;
	border-top-color:#ddd;
	box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
	box-sizing:border-box;
	display:inline-block;
	/*margin:10vh 10vw;*/
	height:50vh;
	padding:3vmin;
	position:relative;
	text-align:center;
&:before {
	 border-radius:2px;
	 bottom:-2vmin;
	 box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
	 content:"";
	 left:-2vmin;
	 position:absolute;
	 right:-2vmin;
	 top:-2vmin;
 }
&:after {
	 border-radius:2px;
	 bottom:-2.5vmin;
	 box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
	 content:"";
	 left:-2.5vmin;
	 position:absolute;
	 right:-2.5vmin;
	 top:-2.5vmin;
 }
}
.art-picture-frame-desc {
	background-color: #ffffff;
	text-align:start;
	box-shadow:0 0 1px 0 rgba(0,0,0,.25) inset, 0 1px 2px 1px rgba(0,0,0,.25);
}
.gallery-info-container .gallery-info-section {
	margin: 6px 0;
	display: flex;
}
.gallery-info-section-label {
	margin-right: 20px;
}
.gallery-info-section-value {
	color: var(--text-a);
	overflow-wrap: anywhere;
}
.gallery-info-color {
	width: 30px;
	height: 10px;
	margin-top: 6px;
	background-color: aqua;
	float: left;
}
.gallery-info-container .gallery-info-section-tags {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
}
.gallery-info-section-tags > .tag {
	background-color: #333333;
	border: none;
	color: black;
	--text-a: var(--bright-orange);
	--text-a-hover: var(--bright-blue);
	font-size: 11px;
	padding: 1px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 0px 0px;
	cursor: pointer;
	border-radius: 14px;
}
.img-info-link {
	color: var(--text-muted);
}
.first\:mt-0:first-child {
	margin-top: 0px;
}
.hover\:opacity-100:hover {
	opacity: 1;
}
.focus\:outline-none:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}
.focus\:ring-2:focus {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.focus\:ring-offset-2:focus {
	--tw-ring-offset-width: 2px;
}
.disabled\:pointer-events-none:disabled {
	pointer-events: none;
}
.disabled\:cursor-not-allowed:disabled {
	cursor: not-allowed;
}
.disabled\:opacity-50:disabled {
	opacity: 0.5;
}
.data-\[disabled\]\:pointer-events-none[data-disabled] {
	pointer-events: none;
}
.data-\[side\=bottom\]\:translate-y-1[data-side=bottom] {
	--tw-translate-y: 0.25rem;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.data-\[side\=left\]\:-translate-x-1[data-side=left] {
	--tw-translate-x: -0.25rem;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.data-\[side\=right\]\:translate-x-1[data-side=right] {
	--tw-translate-x: 0.25rem;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.data-\[side\=top\]\:-translate-y-1[data-side=top] {
	--tw-translate-y: -0.25rem;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.data-\[disabled\]\:opacity-50[data-disabled] {
	opacity: 0.5;
}
@media (min-width: 640px) {
	.sm\:flex-row {
		flex-direction: row;
	}
	.sm\:justify-end {
		justify-content: flex-end;
	}
	.sm\:space-x-2 > :not([hidden]) ~ :not([hidden]) {
		--tw-space-x-reverse: 0;
		margin-right: calc(0.5rem * var(--tw-space-x-reverse));
		margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
	}
	.sm\:rounded-lg {
		border-radius: 0.5rem;
	}
	.sm\:text-left {
		text-align: left;
	}
}
@media (min-width: 768px) {
	.md\:w-full {
		width: 100%;
	}
}
.\[\&\:not\(\:first-child\)\]\:mt-6:not(:first-child) {
	margin-top: 1.5rem;
}
.\[\&_\[cmdk-group-heading\]\]\:px-2 [cmdk-group-heading] {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.\[\&_\[cmdk-group-heading\]\]\:py-1\.5 [cmdk-group-heading] {
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
}
.\[\&_\[cmdk-group-heading\]\]\:text-xs [cmdk-group-heading] {
	font-size: 0.75rem;
	line-height: 1rem;
}
.\[\&_\[cmdk-group-heading\]\]\:font-medium [cmdk-group-heading] {
	font-weight: 500;
}
.\[\&_\[cmdk-group\]\:not\(\[hidden\]\)_\~\[cmdk-group\]\]\:pt-0 [cmdk-group]:not([hidden]) ~[cmdk-group] {
	padding-top: 0px;
}
.\[\&_\[cmdk-group\]\]\:px-2 [cmdk-group] {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.\[\&_\[cmdk-input-wrapper\]_svg\]\:h-5 [cmdk-input-wrapper] svg {
	height: 1.25rem;
}
.\[\&_\[cmdk-input-wrapper\]_svg\]\:w-5 [cmdk-input-wrapper] svg {
	width: 1.25rem;
}
.\[\&_\[cmdk-input\]\]\:h-12 [cmdk-input] {
	height: 3rem;
}
.\[\&_\[cmdk-item\]\]\:px-2 [cmdk-item] {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.\[\&_\[cmdk-item\]\]\:py-3 [cmdk-item] {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}
.\[\&_\[cmdk-item\]_svg\]\:h-5 [cmdk-item] svg {
	height: 1.25rem;
}
.\[\&_\[cmdk-item\]_svg\]\:w-5 [cmdk-item] svg {
	width: 1.25rem;
}
