.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
.fixed {
	position: fixed;
}
.absolute {
	position: absolute;
}
.relative {
	position: relative;
}
.inset-0 {
	inset: 0px;
}
.left-2 {
	left: 0.5rem;
}
.left-\[50\%\] {
	left: 50%;
}
.right-4 {
	right: 1rem;
}
.top-4 {
	top: 1rem;
}
.top-\[50\%\] {
	top: 50%;
}
.z-50 {
	z-index: 50;
}
.-mx-1 {
	margin-left: -0.25rem;
	margin-right: -0.25rem;
}
.mx-1 {
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}
.mx-4 {
	margin-left: 1rem;
	margin-right: 1rem;
}
.my-1 {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}
.my-2 {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.my-4 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.-mt-1 {
	margin-top: -0.25rem;
}
.mb-1 {
	margin-bottom: 0.25rem;
}
.ml-auto {
	margin-left: auto;
}
.mr-2 {
	margin-right: 0.5rem;
}
.block {
	display: block;
}
.flex {
	display: flex;
}
.inline-flex {
	display: inline-flex;
}
.grid {
	display: grid;
}
.hidden {
	display: none;
}
.h-10 {
	height: 2.5rem;
}
.h-11 {
	height: 2.75rem;
}
.h-16 {
	height: 4rem;
}
.h-3 {
	height: 0.75rem;
}
.h-3\.5 {
	height: 0.875rem;
}
.h-3\/4 {
	height: 75%;
}
.h-4 {
	height: 1rem;
}
.h-\[1px\] {
	height: 1px;
}
.h-\[var\(--radix-select-trigger-height\)\] {
	height: var(--radix-select-trigger-height);
}
.h-auto {
	height: auto;
}
.h-full {
	height: 100%;
}
.h-px {
	height: 1px;
}
.max-h-\[300px\] {
	max-height: 300px;
}
.w-1\/2 {
	width: 50%;
}
.w-3 {
	width: 0.75rem;
}
.w-3\.5 {
	width: 0.875rem;
}
.w-4 {
	width: 1rem;
}
.w-72 {
	width: 18rem;
}
.w-8 {
	width: 2rem;
}
.w-\[180px\] {
	width: 180px;
}
.w-\[1px\] {
	width: 1px;
}
.w-full {
	width: 100%;
}
.min-w-\[8rem\] {
	min-width: 8rem;
}
.min-w-\[var\(--radix-select-trigger-width\)\] {
	min-width: var(--radix-select-trigger-width);
}
.max-w-4xl {
	max-width: 56rem;
}
.max-w-lg {
	max-width: 32rem;
}
.flex-none {
	flex: none;
}
.flex-shrink {
	flex-shrink: 1;
}
.shrink-0 {
	flex-shrink: 0;
}
.translate-x-\[-50\%\] {
	--tw-translate-x: -50%;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-y-\[-50\%\] {
	--tw-translate-y: -50%;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-default {
	cursor: default;
}
.select-none {
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
}
.flex-row {
	flex-direction: row;
}
.flex-col {
	flex-direction: column;
}
.flex-col-reverse {
	flex-direction: column-reverse;
}
.flex-wrap {
	flex-wrap: wrap;
}
.place-items-center {
	place-items: center;
}
.items-center {
	align-items: center;
}
.justify-start {
	justify-content: flex-start;
}
.justify-end {
	justify-content: flex-end;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.gap-2 {
	gap: 0.5rem;
}
.gap-4 {
	gap: 1rem;
}
.space-x-4 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-x-reverse: 0;
	margin-right: calc(1rem * var(--tw-space-x-reverse));
	margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-y-1 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}
.space-y-1\.5 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(0.375rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0.375rem * var(--tw-space-y-reverse));
}
.overflow-hidden {
	overflow: hidden;
}
.overflow-y-auto {
	overflow-y: auto;
}
.overflow-x-hidden {
	overflow-x: hidden;
}
.rounded-full {
	border-radius: 9999px;
}
.rounded-md {
	border-radius: 0.375rem;
}
.rounded-sm {
	border-radius: 0.125rem;
}
.border {
	border-width: 1px;
}
.border-4 {
	border-width: 4px;
}
.border-b {
	border-bottom-width: 1px;
}
.border-dashed {
	border-style: dashed;
}
.border-\[color\:var\(--tag-background\)\] {
	border-color: var(--tag-background);
}
.border-transparent {
	border-color: transparent;
}
.bg-\[color\:var\(--tag-background\)\] {
	background-color: var(--tag-background);
}
.bg-\[color\:var\(--text-faint\)\] {
	background-color: var(--text-faint);
}
.bg-\[color\:var\(--text-muted\)\] {
	background-color: var(--text-muted);
}
.bg-transparent {
	background-color: transparent;
}
.bg-clip-padding {
	background-clip: padding-box;
}
.p-0 {
	padding: 0px;
}
.p-1 {
	padding: 0.25rem;
}
.p-2 {
	padding: 0.5rem;
}
.p-4 {
	padding: 1rem;
}
.p-6 {
	padding: 1.5rem;
}
.px-2 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.px-2\.5 {
	padding-left: 0.625rem;
	padding-right: 0.625rem;
}
.px-3 {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}
.px-4 {
	padding-left: 1rem;
	padding-right: 1rem;
}
.py-0 {
	padding-top: 0px;
	padding-bottom: 0px;
}
.py-0\.5 {
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
}
.py-1 {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}
.py-1\.5 {
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
}
.py-2 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.py-3 {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}
.py-4 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.py-6 {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.pb-1 {
	padding-bottom: 0.25rem;
}
.pl-8 {
	padding-left: 2rem;
}
.pr-2 {
	padding-right: 0.5rem;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-2xl {
	font-size: 1.5rem;
	line-height: 2rem;
}
.text-3xl {
	font-size: 1.875rem;
	line-height: 2.25rem;
}
.text-\[length\:var\(--font-small\)\] {
	font-size: var(--font-small);
}
.text-lg {
	font-size: 1.125rem;
	line-height: 1.75rem;
}
.text-sm {
	font-size: 0.875rem;
	line-height: 1.25rem;
}
.text-xs {
	font-size: 0.75rem;
	line-height: 1rem;
}
.font-bold {
	font-weight: 700;
}
.font-semibold {
	font-weight: 600;
}
.capitalize {
	text-transform: capitalize;
}
.leading-6 {
	line-height: 1.5rem;
}
.leading-7 {
	line-height: 1.75rem;
}
.leading-none {
	line-height: 1;
}
.tracking-tight {
	letter-spacing: -0.025em;
}
.tracking-widest {
	letter-spacing: 0.1em;
}
.text-\[color\:var\(--tag-color\)\] {
	color: var(--tag-color);
}
.text-\[color\:var\(--text-muted\)\] {
	color: var(--text-muted);
}
.text-\[color\:var\(--text-normal\)\] {
	color: var(--text-normal);
}
.underline {
	text-decoration-line: underline;
}
.decoration-\[color\:var\(--text-faint\)\] {
	text-decoration-color: var(--text-faint);
}
.underline-offset-8 {
	text-underline-offset: 8px;
}
.opacity-50 {
	opacity: 0.5;
}
.opacity-70 {
	opacity: 0.7;
}
.shadow-2xl {
	--tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
	--tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-lg {
	--tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	--tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-md {
	--tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	--tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.outline-none {
	outline: 2px solid transparent;
	outline-offset: 2px;
}
.outline {
	outline-style: solid;
}
.filter {
	filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.backdrop-blur-sm {
	--tw-backdrop-blur: blur(4px);
	-webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
	        backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}
.transition-colors {
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
.transition-opacity {
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
.duration-200 {
	transition-duration: 200ms;
}
.default-container {
	font-size: 14px;
	padding: 6px 14px;
	position: inherit;
}
.default-picture {
	align-self: flex-start;
	height: auto;
	max-height: 40vh;
}
.settings-banner {
	background-color: var(--background-secondary-alt);
	border-radius: 4px;
	margin-bottom: 2em;
	padding: 1.5em;
	text-align: left;
}
.settings-banner h4 {
	margin: 0;
}
.art-picture-frame-container {
	border: 1px solid var(--background-modifier-border);
	font-size: 14px;
	padding: 6px 14px;
	border-radius: 4px;
	background-color: var(--background-secondary-alt);
	position: inherit;
	/*margin-bottom: 30px;*/
}
.art-picture-frame {
	align-self: flex-start;
	background-color: var(--background-modifier-border);
	border: solid 2vmin var(--background-primary-alt);
	border-bottom-color: var(--background-secondary-alt);
	border-left-color: var(--background-primary-alt);
	border-radius: 2px;
	border-right-color: var(--background-primary-alt);
	border-top-color: var(--background-primary);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25) inset, 0 5px 10px 5px rgba(0, 0, 0, .25);
	box-sizing: border-box;
	display: inline-block;
	/*margin: 10vh 10vw;*/
	/*height: 45vh;*/
	width: 35vh;
	max-width: 40vh;
	height: auto;
	padding: 2vmin;
	position: relative;
	text-align: center;
}
.art-picture-frame:before {
	border-radius: 2px;
	bottom: -2vmin;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25) inset;
	content: "";
	left: -2vmin;
	position: absolute;
	right: -2vmin;
	top: -2vmin;
}
.art-picture-frame:after {
	border-radius: 2px;
	bottom: -2.5vmin;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25);
	content: "";
	left: -2.5vmin;
	position: absolute;
	right: -2.5vmin;
	top: -2.5vmin;
}
.art-picture-frame-desc {
	background-color: var(--background-primary-alt);
	text-align:start;
	box-shadow:0 0 1px 0 rgba(0,0,0,.25) inset, 0 1px 2px 1px rgba(0,0,0,.25);
}
.review-container {
	border: 1px solid var(--background-modifier-border);
	font-size: 14px;
	color: var(--text-muted);
	padding: 6px 14px;
	border-radius: 4px;
	background-color: var(--background-secondary-alt);
	position: inherit;
	/*margin-bottom: 30px;*/
}
.review-picture {
	border: solid 1vmin var(--background-primary-alt);
	border-radius: 1px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25) inset, 0 2px 3px 2px rgba(0, 0, 0, .25);
	box-sizing: border-box;
	display: inline-block;
	/*margin: 10vh 10vw;*/
	/*height: 45vh;*/
	width: 20vh;
	/*margin-top: -1vh;*/
	position: relative;
	text-align: center;
}
.review-star {
	display: flex;
	color: var(--text-accent);
}
.photo-container {
	display: flex;
	flex-direction: row;
	border: 1px solid var(--background-modifier-border);
	box-shadow:0 0 2px 0 rgba(0,0,0,.25) inset, 0 1px 2px 1px rgba(0,0,0,.25);
	font-size: 14px;
	color: var(--text-muted);
	padding: 6px 14px;
	/*border-radius: 4px;*/
	background-color: var(--background-secondary-alt);
}
.photo-picture {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: solid 1vmin var(--background-primary-alt);
	background-color: var(--background-primary-alt);;
	border-radius: 1px;
	box-shadow:0 0 1px 0 rgba(0,0,0,.25) inset, 0 1px 2px 1px rgba(0,0,0,.25);
	/*width: 30vh;*/
	/*height: auto;*/
	text-align: center;
	position: relative;
	flex-shrink: 0; /* 确保图片和标签容器不会缩小 */
}
.photo-picture img {
	width: 100%;
	height: auto%;
	/*width: 30vh;*/
	/*height: auto;*/
}
.hr-text {
	line-height: 1em;
	position: relative;
	outline: 0;
	border: 0;
	color: black;
	text-align: center;
	height: 1.5em;
	opacity: 0.5;
}
.hr-text:before {
	content: "";
	background: linear-gradient(to right, transparent, #818078, transparent);
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
}
.hr-text:after {
	content: attr(data-content);
	position: relative;
	display: inline-block;
	color: black;
	padding: 0 0.5em;
	line-height: 1.5em;
	color: #818078;
	background-color: #fcfcfa;
}
.art-picture-frame-section {
	margin: 6px 0;
	display: flex;
}
.art-picture-frame-section-label {
	color: var(--text-muted);
	margin-right: 20px;
}
.art-picture-frame-section-value {
	color: var(--text-muted);
	overflow-wrap: anywhere;
}
.gallery-info-color {
	width: 30px;
	height: 10px;
	margin-top: 6px;
	background-color: aqua;
	float: left;
}
.art-picture-frame-container .art-picture-frame-section-tags {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
}
.img-info-link {
	color: var(--text-muted);
}
.hover\:opacity-100:hover {
	opacity: 1;
}
.focus\:outline-none:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}
.focus\:ring-2:focus {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.focus\:ring-offset-2:focus {
	--tw-ring-offset-width: 2px;
}
.disabled\:pointer-events-none:disabled {
	pointer-events: none;
}
.disabled\:cursor-not-allowed:disabled {
	cursor: not-allowed;
}
.disabled\:opacity-50:disabled {
	opacity: 0.5;
}
.data-\[disabled\]\:pointer-events-none[data-disabled] {
	pointer-events: none;
}
.data-\[side\=bottom\]\:translate-y-1[data-side=bottom] {
	--tw-translate-y: 0.25rem;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.data-\[side\=left\]\:-translate-x-1[data-side=left] {
	--tw-translate-x: -0.25rem;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.data-\[side\=right\]\:translate-x-1[data-side=right] {
	--tw-translate-x: 0.25rem;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.data-\[side\=top\]\:-translate-y-1[data-side=top] {
	--tw-translate-y: -0.25rem;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.data-\[disabled\]\:opacity-50[data-disabled] {
	opacity: 0.5;
}
@media (min-width: 640px) {
	.sm\:flex-row {
		flex-direction: row;
	}
	.sm\:justify-end {
		justify-content: flex-end;
	}
	.sm\:space-x-2 > :not([hidden]) ~ :not([hidden]) {
		--tw-space-x-reverse: 0;
		margin-right: calc(0.5rem * var(--tw-space-x-reverse));
		margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
	}
	.sm\:rounded-lg {
		border-radius: 0.5rem;
	}
	.sm\:text-left {
		text-align: left;
	}
}
@media (min-width: 768px) {
	.md\:block {
		display: block;
	}
	.md\:flex {
		display: flex;
	}
	.md\:w-full {
		width: 100%;
	}
}
@media (min-width: 1024px) {
	.lg\:flex-row {
		flex-direction: row;
	}
}
.\[\&_\[cmdk-group-heading\]\]\:px-2 [cmdk-group-heading] {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.\[\&_\[cmdk-group-heading\]\]\:py-1\.5 [cmdk-group-heading] {
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
}
.\[\&_\[cmdk-group-heading\]\]\:text-xs [cmdk-group-heading] {
	font-size: 0.75rem;
	line-height: 1rem;
}
.\[\&_\[cmdk-group-heading\]\]\:font-medium [cmdk-group-heading] {
	font-weight: 500;
}
.\[\&_\[cmdk-group\]\:not\(\[hidden\]\)_\~\[cmdk-group\]\]\:pt-0 [cmdk-group]:not([hidden]) ~[cmdk-group] {
	padding-top: 0px;
}
.\[\&_\[cmdk-group\]\]\:px-2 [cmdk-group] {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.\[\&_\[cmdk-input-wrapper\]_svg\]\:h-5 [cmdk-input-wrapper] svg {
	height: 1.25rem;
}
.\[\&_\[cmdk-input-wrapper\]_svg\]\:w-5 [cmdk-input-wrapper] svg {
	width: 1.25rem;
}
.\[\&_\[cmdk-input\]\]\:h-12 [cmdk-input] {
	height: 3rem;
}
.\[\&_\[cmdk-item\]\]\:px-2 [cmdk-item] {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.\[\&_\[cmdk-item\]\]\:py-3 [cmdk-item] {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}
.\[\&_\[cmdk-item\]_svg\]\:h-5 [cmdk-item] svg {
	height: 1.25rem;
}
.\[\&_\[cmdk-item\]_svg\]\:w-5 [cmdk-item] svg {
	width: 1.25rem;
}
