
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.default-container {
	font-size: 14px;
	padding: 6px 14px;
	position: inherit;
}

.default-picture {
	height: 40vh;
}

.settings-banner {
	background-color: var(--background-secondary-alt);
	border-radius: 4px;
	margin-bottom: 2em;
	padding: 1.5em;
	text-align: left;
}

.settings-banner h4 {
	margin: 0;
}

.art-picture-frame-container {
	border: 1px solid var(--background-modifier-border);
	font-size: 14px;
	padding: 6px 14px;
	border-radius: 4px;
	background-color: var(--background-secondary-alt);
	position: inherit;
	/*margin-bottom: 30px;*/
}

.art-picture-frame {
	background-color: var(--background-modifier-border);
	border: solid 2vmin var(--background-primary-alt);
	border-bottom-color: var(--background-secondary-alt);
	border-left-color: var(--background-primary-alt);
	border-radius: 2px;
	border-right-color: var(--background-primary-alt);
	border-top-color: var(--background-primary);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25) inset, 0 5px 10px 5px rgba(0, 0, 0, .25);
	box-sizing: border-box;
	display: inline-block;
	/*margin: 10vh 10vw;*/
	/*height: 45vh;*/
	width: 40vh;
	padding: 2vmin;
	position: relative;
	text-align: center;
}

.art-picture-frame:before {
	border-radius: 2px;
	bottom: -2vmin;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25) inset;
	content: "";
	left: -2vmin;
	position: absolute;
	right: -2vmin;
	top: -2vmin;
}

.art-picture-frame:after {
	border-radius: 2px;
	bottom: -2.5vmin;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25);
	content: "";
	left: -2.5vmin;
	position: absolute;
	right: -2.5vmin;
	top: -2.5vmin;
}


.art-picture-frame-desc {
	background-color: var(--background-primary-alt);
	text-align:start;
	box-shadow:0 0 1px 0 rgba(0,0,0,.25) inset, 0 1px 2px 1px rgba(0,0,0,.25);
}

.review-container {
	border: 1px solid var(--background-modifier-border);
	font-size: 14px;
	color: var(--text-muted);
	padding: 6px 14px;
	border-radius: 4px;
	background-color: var(--background-secondary-alt);
	position: inherit;
	/*margin-bottom: 30px;*/
}

.review-picture {
	border: solid 1vmin var(--background-primary-alt);
	border-radius: 1px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25) inset, 0 2px 3px 2px rgba(0, 0, 0, .25);
	box-sizing: border-box;
	display: inline-block;
	/*margin: 10vh 10vw;*/
	/*height: 45vh;*/
	width: 20vh;
	/*margin-top: -1vh;*/
	position: relative;
	text-align: center;
}

.review-star {
	display: flex;
	color: var(--text-accent);
}

.photo-container {
	display: flex;
	flex-direction: row;
	border: 1px solid var(--background-modifier-border);
	box-shadow:0 0 2px 0 rgba(0,0,0,.25) inset, 0 1px 2px 1px rgba(0,0,0,.25);
	font-size: 14px;
	color: var(--text-muted);
	padding: 6px 14px;
	/*border-radius: 4px;*/
	background-color: var(--background-secondary-alt);
}

.photo-picture {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: solid 1vmin var(--background-primary-alt);
	background-color: var(--background-primary-alt);;
	border-radius: 1px;
	box-shadow:0 0 1px 0 rgba(0,0,0,.25) inset, 0 1px 2px 1px rgba(0,0,0,.25);
	width: 32vh;
	height: auto;
	text-align: center;
	position: relative;
	flex-shrink: 0; /* 确保图片和标签容器不会缩小 */
}

.photo-picture img {
	width: 30vh;
	height: auto;
}


.hr-text {
	line-height: 1em;
	position: relative;
	outline: 0;
	border: 0;
	color: black;
	text-align: center;
	height: 1.5em;
	opacity: 0.5;
}
.hr-text:before {
	content: "";
	background: linear-gradient(to right, transparent, #818078, transparent);
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
}
.hr-text:after {
	content: attr(data-content);
	position: relative;
	display: inline-block;
	color: black;
	padding: 0 0.5em;
	line-height: 1.5em;
	color: #818078;
	background-color: #fcfcfa;
}

.art-picture-frame-section {
	margin: 6px 0;
	display: flex;
}

.art-picture-frame-section-label {
	color: var(--text-muted);
	margin-right: 20px;
}

.art-picture-frame-section-value {
	color: var(--text-muted);
	overflow-wrap: anywhere;
}

.gallery-info-color {
	width: 30px;
	height: 10px;
	margin-top: 6px;
	background-color: aqua;
	float: left;
}

.art-picture-frame-container .art-picture-frame-section-tags {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
}

.img-info-link {
	color: var(--text-muted);
}
