
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/
/*@layer base {*/
/*	:root {*/
/*		--background: 0 0% 100%;*/
/*		--foreground: 222.2 47.4% 11.2%;*/

/*		--muted: 210 40% 96.1%;*/
/*		--muted-foreground: 215.4 16.3% 46.9%;*/

/*		--popover: 0 0% 100%;*/
/*		--popover-foreground: 222.2 47.4% 11.2%;*/

/*		--border: 214.3 31.8% 91.4%;*/
/*		--input: 214.3 31.8% 91.4%;*/

/*		--card: 0 0% 100%;*/
/*		--card-foreground: 222.2 47.4% 11.2%;*/

/*		--primary: 222.2 47.4% 11.2%;*/
/*		--primary-foreground: 210 40% 98%;*/

/*		--secondary: 210 40% 96.1%;*/
/*		--secondary-foreground: 222.2 47.4% 11.2%;*/

/*		--accent: 210 40% 96.1%;*/
/*		--accent-foreground: 222.2 47.4% 11.2%;*/

/*		--destructive: 0 100% 50%;*/
/*		--destructive-foreground: 210 40% 98%;*/

/*		--ring: 215 20.2% 65.1%;*/

/*		--radius: 0.5rem;*/
/*	}*/

/*	.dark {*/
/*		--background: 224 71% 4%;*/
/*		--foreground: 213 31% 91%;*/

/*		--muted: 223 47% 11%;*/
/*		--muted-foreground: 215.4 16.3% 56.9%;*/

/*		--accent: 216 34% 17%;*/
/*		--accent-foreground: 210 40% 98%;*/

/*		--popover: 224 71% 4%;*/
/*		--popover-foreground: 215 20.2% 65.1%;*/

/*		--border: 216 34% 17%;*/
/*		--input: 216 34% 17%;*/

/*		--card: 224 71% 4%;*/
/*		--card-foreground: 213 31% 91%;*/

/*		--primary: 210 40% 98%;*/
/*		--primary-foreground: 222.2 47.4% 1.2%;*/

/*		--secondary: 222.2 47.4% 11.2%;*/
/*		--secondary-foreground: 210 40% 98%;*/

/*		--destructive: 0 63% 31%;*/
/*		--destructive-foreground: 210 40% 98%;*/

/*		--ring: 216 34% 17%;*/

/*		--radius: 0.5rem;*/
/*	}*/
/*}*/

/*@layer base {*/
/*	* {*/
/*		@apply border-border;*/
/*	}*/
/*	body {*/
/*		@apply bg-background text-foreground;*/
/*		font-feature-settings: "rlig" 1, "calt" 1;*/
/*	}*/
/*}*/

.settings-banner {
	background-color: var(--background-secondary-alt);
	border-radius: 4px;
	margin-bottom: 2em;
	padding: 1.5em;
	text-align: left;
}

.settings-banner h4 {
	margin: 0;
}

.art-picture-frame-container {
	border: 1px solid var(--background-modifier-border);
	font-size: 14px;
	color: var(--text-muted);
	padding: 6px 14px;
	border-radius: 4px;
	background-color: var(--background-secondary-alt);
	position: inherit;
	/*margin-bottom: 30px;*/
}

.art-picture-frame {
	background-color: var(--background-modifier-border);
	border: solid 2vmin var(--background-primary-alt);
	border-bottom-color: var(--background-secondary-alt);
	border-left-color: var(--background-primary-alt);
	border-radius: 2px;
	border-right-color: var(--background-primary-alt);
	border-top-color: var(--background-primary);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25) inset, 0 5px 10px 5px rgba(0, 0, 0, .25);
	box-sizing: border-box;
	display: inline-block;
	/*margin: 10vh 10vw;*/
	/*height: 45vh;*/
	width: 40vh;
	padding: 2vmin;
	position: relative;
	text-align: center;
}

.art-picture-frame:before {
	border-radius: 2px;
	bottom: -2vmin;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25) inset;
	content: "";
	left: -2vmin;
	position: absolute;
	right: -2vmin;
	top: -2vmin;
}

.art-picture-frame:after {
	border-radius: 2px;
	bottom: -2.5vmin;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25);
	content: "";
	left: -2.5vmin;
	position: absolute;
	right: -2.5vmin;
	top: -2.5vmin;
}


.art-picture-frame-desc {
	background-color: var(--background-primary-alt);
	text-align:start;
	box-shadow:0 0 1px 0 rgba(0,0,0,.25) inset, 0 1px 2px 1px rgba(0,0,0,.25);
}

.review-container {
	border: 1px solid var(--background-modifier-border);
	font-size: 14px;
	color: var(--text-muted);
	padding: 6px 14px;
	border-radius: 4px;
	background-color: var(--background-secondary-alt);
	position: inherit;
	/*margin-bottom: 30px;*/
}

.review-picture {
	/*background-color: #ddc;*/
	border: solid 1vmin var(--background-modifier-form-field);
	border-color: #eee;
	border-radius: 1px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25) inset, 0 5px 10px 5px rgba(0, 0, 0, .25);
	box-sizing: border-box;
	display: inline-block;
	/*margin: 10vh 10vw;*/
	/*height: 45vh;*/
	width: 20vh;
	/*margin-top: -1vh;*/
	position: relative;
	text-align: center;
}

.review-star {
	display: flex;
	color: var(--text-accent);
}

.photo-picture {
	display: flex;
	align-items: center;
	justify-content: center;
	width:40vh;
	/*height: 240px;*/
	padding: var(--space-sm) var(--space-sm) var(--space-xlg);
	background: white;
	border-radius: 4px;
	box-shadow: var(--space-xsm) var(--space-xsm) 15px rgba(0,0,0, .15);

	/* Edit the Translate property below to adjust the position of your picture */
	transform: rotate(5deg) translate(20px, 45px);
}

.photo-picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.hr-text {
	line-height: 1em;
	position: relative;
	outline: 0;
	border: 0;
	color: black;
	text-align: center;
	height: 1.5em;
	opacity: 0.5;
}
.hr-text:before {
	content: "";
	background: linear-gradient(to right, transparent, #818078, transparent);
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
}
.hr-text:after {
	content: attr(data-content);
	position: relative;
	display: inline-block;
	color: black;
	padding: 0 0.5em;
	line-height: 1.5em;
	color: #818078;
	background-color: #fcfcfa;
}

.art-picture-frame-container .gallery-info-section {
	margin: 6px 0;
	display: flex;
}

.gallery-info-section-label {
	margin-right: 20px;
}

.gallery-info-section-value {
	color: var(--text-a);
	overflow-wrap: anywhere;
}

.gallery-info-color {
	width: 30px;
	height: 10px;
	margin-top: 6px;
	background-color: aqua;
	float: left;
}

.art-picture-frame-container .gallery-info-section-tags {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
}

.gallery-info-section-tags > .tag {
	background-color: #333333;
	border: none;
	color: black;
	--text-a: var(--bright-orange);
	--text-a-hover: var(--bright-blue);
	font-size: 11px;
	padding: 1px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 0px 0px;
	cursor: pointer;
	border-radius: 14px;
}

.img-info-link {
	color: var(--text-muted);
}
